@page "/pages/parcels"
@model ParcelsModel
@{
    ViewData["Title"] = "Parcels";
}
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col">
        <a asp-page="./Create" class="btn btn-primary">New parcel</a>
    </div>
</div>
<div class="row">
</div>